<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/data/css/bootstrapIndex.css">

<script th:src="@{/data/js/jquery.min.js}"></script>

<link rel="stylesheet" href="/data/css/styleIndex.css">

<script th:src="@{/data/js/bootstrap.min.js}"></script>


<link rel="stylesheet" href="/data/css/default.css">
<style>
.error {
	color: red;
}

.customer-login {
	background: #fff none repeat scroll 0 0;
	padding: 40px;
}
</style>

<script th:src="@{/data/js/jquery-1.9.1.js}"></script>
<script th:src="@{/data/js/jquery-1.10.1.min.js}"></script>
<script type="text/javascript">


$(function(){



$("#emailValue").keyup(function(){
		
		let emailValue = $("#emailValue").val()
		
		if(emailValue==""){
			$("#resultEmail").html("Email不能為空").css("color", "red");
			return
		}
		if(!IsEmail(emailValue)){
			$("#resultEmail").html("Email格式不正確").css("color", "red");
			return
		}else{
			$("#resultEmail").html("格式正確").css("color", "green");
			return
		}
		
	
	});
	



$("#phoneNumberValue").keyup(function(){
		
		let phoneNumberValue = $("#phoneNumberValue").val()
		
		if(phoneNumberValue==""){
			$("#resultPhoneNumber").html("手機號碼不能為空").css("color", "red");
			return
		}
		if(!IsMobile(phoneNumberValue)){
			$("#resultPhoneNumber").html("手機號碼格式不正確").css("color", "red");
			return
		}else{
			$("#resultPhoneNumber").html("格式正確").css("color", "green");
			return
		}
		
		
	});


});


function IsMobile(mobile) {
	  var regex =  /^(09)[0-9]{8}$/;
	  if(!regex.test(mobile)) {
	    return false;
	  }else{
	    return true;
	  }
	}
function IsEmail(email) {
	  var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  if(!regex.test(email)) {
	    return false;
	  }else{
	    return true;
	  }
	}
</script>
</head>
<body>
	<div th:replace="/user/common :: commonTop"></div>



	<div class="wrapper bg-dark-white">

		<div class="login-area  pt-80 pb-80  ">
			<div class="container " style="margin-left: 30%;">
				<form method="POST" th:action="@{/forgetPassword}">
					<div class="row  ">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="customer-login text-left">
								<h4 class="title-1 title-border text-uppercase mb-30">忘記密碼</h4>
								<p class="text-gray">請輸入個人信箱及電話號碼做為驗證,若正確會發新密碼去您的信箱</p>
								<!-- 								<p th:if="${#fields.hasErrors('invalidCredentials')}" -->
								<!-- 									th:errorclass="error" th:errors="*{invalidCredentials}" /> -->

								<!-- 								<div th:if="${errors != null}"></div> -->
								<p style="color: red" th:text=${errors}></p>


								<!-- 								bug 如果type用email 前端頁面顯示怪怪 -->
								<label for="email">Email</label> <input type="text"
									class="form-control" placeholder="請輸入Email" name="email"
									id="emailValue" /> <span id='resultEmail' class="error"></span>

								<!-- 								<p th:if="${#fields.hasErrors('email')}" th:errorclass="error" -->
								<!-- 									th:errors="*{email}" /> -->

								<br> <label for="email">手機號碼</label> <input
									class="theinput" type="text" name="phoneNumber"
									placeholder="請輸入手機號碼" id="phoneNumberValue" maxlength="10" /> <span
									id='resultPhoneNumber' class="error"></span>
								<!-- 								<p th:if="${#fields.hasErrors('phoneNumber')}" -->
								<!-- 									th:errorclass="error" th:errors="*{phoneNumber}" /> -->
								<br>

								<button type="submit" data-text="送出"
									class="button-one submit-button mt-15">送出</button>

								<a th:href="@{/}"><input style="border-color: transparent;"
									type="button" class="button-one submit-button mt-15 num"
									value="取消"></a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>



	</div>





	<div th:replace="/user/common :: commonBottom"></div>

	<div th:replace="/user/common :: commonIndexJS"></div>

</body>
</html>