<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>違規紀錄</title>


<link rel="stylesheet" href="/data/css/bootstrap.css">
<!-- <link rel="stylesheet" href="/data/css/font.css"> -->
<link rel="stylesheet" href="/data/css/splitlayout.css">
<link rel="stylesheet" href="/data/css/animations.css">
<link rel="stylesheet" href="/data/css/responsiveslides.css">
<link rel="stylesheet" href="/data/css/slick.css">
<link rel="stylesheet" href="/data/css/slick-theme.css">
<link rel="stylesheet" href="/data/css/magnific-popup.css">
<link rel="stylesheet" href="/data/css/font-awesome.min.css">
<link rel="stylesheet" href="/data/css/pe-icon-7-stroke.min.css">
<link rel="stylesheet" href="/data/css/personInfostyle.css">
<link rel="stylesheet" href="/data/css/responsive.css">

<!-- <link href="./data/css/style.css" rel="stylesheet" type="text/css" -->
<!-- 	media="all" /> -->


<style>

</style>
<script th:src="@{/data/js/jquery-1.9.1.js}"></script>
<script th:src="@{/data/js/jquery-1.10.1.min.js}"></script>
<script>
$(function(){
	
	$("#showViolation").addClass("active_item");
	
	
});

</script>

</head>
<body>



	<div th:replace="/user/common :: commonMostTop"></div>



	<div id="splitlayout" class="splitlayout reset-layout open-right">

			<div th:replace="/user/common :: commonMemberIndex"></div>


		<!-- /intro -->
		<div class="page page-right full-height page-right-normal-height">
			<div id="pt-main" class="pt-perspective page-inner">




				<!--Start Resume Section-->
				<section class="resume padding-bottom-90 pt-page pt-page-current"
					id="resume">
					<div class="content">
						<div class="container">
							<div class="sec_title" style="text-align: center;">
								<h2 >違規紀錄</h2>
							</div>
							<div class="" style="text-align: center;">

								<!--Education-->
								<div class="timeline-small">
									<div class="timeline-small-body">
										<h3 class="subtitle" th:text="'違規次數 :' + ${personViolation.size()}"></h3>
										<h5 th:if="${personViolation.size()!=0}">提醒您，違規次數達3次將封鎖帳號</h5>
										<ul th:each="v:${personViolation}">

											<li>
												<div class="bullet blue"></div>
												<div class="date1" th:text="${v.violationDate}"></div>
												<div class="desc">
													<h3 th:text="${v.violationRule.violationReason}"></h3>
													<h4 th:text="${v.target}"></h4>
												</div>
											</li>

										</ul>
									</div>
								</div>
							








								<!--.col-md-6-->

								<!--Experience-->

								<!--.col-md-6-->
							</div>
							<!--.row-->
						</div>
						<!--.container-->
					</div>
					<!--.content-->
				</section>
				<!--End Resume Section-->


				<!-- 共同頁面==================================== commonMemberBottom 開始===============================-->


			</div>
			<!--.page-inner-->
		</div>
		<!--.page-right-->
	</div>
	<!--.splitlayout-->



















































	<script th:src="@{/data/js/jquery.min.js}"></script>

	<script th:src="@{/data/js/jquery-migrate-1.2.1.min.js}"></script>
	<script th:src="@{/data/js/jquery.matchHeight-min.js}"></script>
	<script th:src="@{/data/js/jquery.alterclass.js}"></script>

	<script th:src="@{/data/js/bootstrap.min.js}"></script>

	<script th:src="@{/data/js/particles.min.js}"></script>
	<script th:src="@{/data/js/app.js}"></script>
	<script th:src="@{/data/js/modernizr.custom.js}"></script>
	<script th:src="@{/data/js/typed.min.js}"></script>
	<script th:src="@{/data/js/responsiveslides.min.js}"></script>
	<script th:src="@{/data/js/jquery.fittext.js}"></script>
	<script th:src="@{/data/js/isotope.pkgd.min.js}"></script>
	<script th:src="@{/data/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/data/js/custom.js}"></script>









	<!-- WRAPPER START -->




</body>
</html>