<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>變更密碼</title>


<link rel="stylesheet" href="/data/css/bootstrap.css">
<link rel="stylesheet" href="/data/css/splitlayout.css">
<link rel="stylesheet" href="/data/css/animations.css">
<link rel="stylesheet" href="/data/css/responsiveslides.css">
<link rel="stylesheet" href="/data/css/slick.css">
<link rel="stylesheet" href="/data/css/slick-theme.css">
<link rel="stylesheet" href="/data/css/magnific-popup.css">
<link rel="stylesheet" href="/data/css/font-awesome.min.css">
<link rel="stylesheet" href="/data/css/pe-icon-7-stroke.min.css">
<link rel="stylesheet" href="/data/css/personInfostyle.css">
<link rel="stylesheet" href="/data/css/responsive.css">
<!-- <link href="./data/css/style.css" rel="stylesheet" type="text/css" -->
<!-- 	media="all" /> -->


<style>
.error {
	color: red;
	
}

.container {
   
    margin-left: -2%;
}
</style>
<script th:src="@{/data/js/jquery-1.9.1.js}"></script>
<script th:src="@{/data/js/jquery-1.10.1.min.js}"></script>

<script type="text/javascript">


$(function(){
	
	$("#updatePassword").addClass("active_item");
	
	$("#passwordCheckValue").keyup(function(){
		
		let passwordValue = $("#passwordValue").val()
		let passwordCheckValue = $("#passwordCheckValue").val()
		
		
		if(passwordValue!=passwordCheckValue){
			$("#resultpasswordCheck").html("兩次密碼輸入的不一樣").css("color", "red");
			return
		}else{
			$("#resultpasswordCheck").html("輸入相符").css("color", "green");
			return
		}
		
		
	});

});

</script>

<!-- <link href="/data/css/updateMember.css" rel="stylesheet"> -->
</head>
<body>



	<div th:replace="/user/common :: commonMostTop"></div>

	<!--Start Preloader-->
	<div class="page-loader startLoad">
		<div class="loader startLoad"></div>
	</div>
	<!--End Preloader-->



	<div id="splitlayout" class="splitlayout reset-layout open-right">

		<div th:replace="/user/common :: commonMemberIndex"></div>

		<div class="page page-right full-height page-right-normal-height">
			<div id="pt-main" class="pt-perspective page-inner">

				<!--Start Portfolio Section-->
				<section
					class="portfolio_sec padding-bottom-90 pt-page pt-page-current"
					id="portfolio">
					<div class="content">
						<div class="container">
							<div class="sec_title" style="text-align: center;">
								<h2 style="text-align: center;">變更密碼</h2>
							</div>

							<div class="row" style="text-align: center; height: 745.314px;">

								<div class="col-xs-12 col-sm-12 item coding "
									style="text-align: center; left: 30%; top: 0px;">
									<div class="">
										<!-- 											<h5 style="text-align: center;">修改個人資料</h5> -->
										<div class="contact_form">
											<form method="POST" th:object="${UserA}"
												th:action="@{/member/updatePassword}" >
												<div class="row  ">
													<div class="col-md-6 col-sm-6 col-xs-12">
														<div class="customer-login text-left">
<!-- 															<h4 class="title-1 title-border text-uppercase mb-30">變更密碼</h4> -->
															<p class="text-gray">請輸入您的密碼及新密碼</p>
															<p th:if="${#fields.hasErrors('invalidCredentials')}"
																th:errorclass="error" th:errors="*{invalidCredentials}" />
																<p style="color:red" th:if="${wrongPassword} !=null" th:text="${wrongPassword}"/>

															<label for="originalPassword">原始密碼</label> <input
																type="password" class="form-control"
																placeholder="請輸入舊密碼" name="originalPassword" />

															<p th:if="${#fields.hasErrors('originalPassword')}"
																th:errorclass="error" th:errors="*{originalPassword}" />
															 <br> <label for="password">新密碼</label> <input
																type="password" class="form-control" placeholder="請輸入密碼"
																name="password" id="passwordValue" />

															<p th:if="${#fields.hasErrors('password')}"
																th:errorclass="error" th:errors="*{password}" />
															 <br> <label for="passwordCheck">確認密碼</label>
															<span id='resultpasswordCheck' class="error"
																style="padding-left: 100px;"></span> <input
																type="password" class="form-control" placeholder="確認密碼"
																name="passwordCheck" id="passwordCheckValue" />
															<p th:if="${#fields.hasErrors('passwordCheck')}"
																th:errorclass="error" th:errors="*{passwordCheck}" />
															<br>
															<button type="submit" data-text="變更"
																class="button-one submit-button mt-15"
																onclick="return confirm('確認變更原始密碼嗎？')">變更</button>
															<a th:href="@{/}"><input
																style="border-color: transparent;" type="button"
																class="button-one submit-button mt-15 num" value="取消"></a>

														</div>
													</div>
												</div>
											</form>
										</div>

									</div>
								</div>

								<!--project 3 (Youtube Video)-->

								<div class="col-xs-12 col-sm-6 item grid-sizer design"
									style="position: absolute; left: 0%; top: 0px;">
									<div class="project_content"></div>
								</div>

							</div>
						</div>
						<!--.container-->
					</div>
					<!--.content-->
				</section>
				<!--End Portfolio Section-->


				<!-- 共同頁面==================================== commonMemberBottom 開始===============================-->


			</div>
			<!--.page-inner-->
		</div>
		<!--.page-right-->
	</div>
	<!--.splitlayout-->



















































	<script th:src="@{/data/js/jquery.min.js}"></script>

	<script th:src="@{/data/js/jquery-migrate-1.2.1.min.js}"></script>
	<script th:src="@{/data/js/jquery.matchHeight-min.js}"></script>
	<script th:src="@{/data/js/jquery.alterclass.js}"></script>

	<script th:src="@{/data/js/bootstrap.min.js}"></script>

	<script th:src="@{/data/js/particles.min.js}"></script>
	<script th:src="@{/data/js/app.js}"></script>
	<script th:src="@{/data/js/modernizr.custom.js}"></script>
	<script th:src="@{/data/js/typed.min.js}"></script>
	<script th:src="@{/data/js/responsiveslides.min.js}"></script>
	<script th:src="@{/data/js/jquery.fittext.js}"></script>
	<script th:src="@{/data/js/isotope.pkgd.min.js}"></script>
	<script th:src="@{/data/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/data/js/custom.js}"></script>









	<!-- WRAPPER START -->



</body>
</html>