<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新增訂單</title>
<link rel="stylesheet" href="/data/css/bootstrapIndex.css">
<script th:src="@{/data/js/jquery.min.js}"></script>
<link rel="stylesheet" href="/data/css/styleIndex.css">
<script th:src="@{/data/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="/data/css/default.css">
<style type="text/css">
.problem {

display: block;
    background: none;
    color: #999;
    border: 1px solid #BDBBBB;
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    padding: 13px 15px;
}

.submit{
background: #84754e;
    border: 1px solid #f4f4f4;
    padding: .8em 0;
    width: 100%;
    margin-top: .5em;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;

}
</style>
</head>
<body>
<div class="header">
	</div>
	
<div th:replace="/user/common :: commonTop"></div>
<div class="main-body col-md-offset-3" >
		<div class="wrap">
			<div class="col-md-8 single-post" align="center">
				<div class="coment-form">
					<h4>新增訂單</h4>
	<form method="POST" enctype="multipart/form-data" th:object="${tb}" th:action="@{/addTrouble}">
	<label style="float:left">問題類型</label>
		<select class="problem" 
			 th:field="*{troubleType}">
			<option th:value="'衛浴裝修'" th:text="衛浴裝修"></option>
			<option th:value="'廚房裝修'" th:text="廚房裝修"></option>
			<option th:value="'抓漏'" th:text="抓漏"></option>
			<option th:value="'水電安裝'" th:text="水電安裝"></option>
			<option th:value="'牆面裝修'" th:text="牆面裝修"></option>
			<option th:value="'門窗裝修'" th:text="門窗裝修"></option>
			<option th:value="'家電裝修'" th:text="家電裝修"></option>
			<option th:value="'居家清潔'" th:text="居家裝修"></option>
		</select> 
		<label style="float:left">訂單標題</label>
		<input type="text"  style="width:100%"
			 placeholder="訂單標題" name="title" id="" />
			 <label style="float:left">需求地址</label>
		<input type="text" style="width:100%"
			 placeholder="需求地址" name="address" id="" />
			 <label style="float:left">問題內容描述</label>
		<textArea class="problem" placeholder="問題內容描述" name="textArea" for="textArea"></textArea>
		<label style="float:left">照片</label>
		<input type="file" class="problem"
			 placeholder="照片" name="image" id="" />
			 <label style="float:left">備註</label>
		
			<textArea class="problem" placeholder="備註" name="remark" for="remark"></textArea>
		<button class="submit" type="submit">送出</button>
	</form>
	</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
	<!-- content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<div th:replace="/user/common :: commonBottom"></div>
	<!-- footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				wrapID: 'toTop', // fading element id
				wrapHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
	<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>