<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>訂單完成</title>
		<th:block th:replace="/mall/mallCommon :: commonhead"></th:block>
		<style type="text/css">
			.tab {
				font-size: 17px;
				letter-spacing: 10px;
			}
			.content {
				font-size: 14px;
			}
			.single-order-info {
  				float: left;
 				width: 20%;
			}
		</style>
		<script type="text/javascript">
			$(function() {
				
				// 發送ajax請求(購物車品項數量查詢)
				function getCartQuantity() {
					$.ajax({
						url: '/shoppingCartQuantity',
						type: 'get',
						success: function(data) {
							$('#cart_quantity').html(data);
						}
					});
				};
				
				
				// 發送ajax請求(購物車內容Quickview)
				function getCartQuickview() {
					if ($('#cartQuantity').text() != 0) {
						$.ajax({
							url: '/shoppingCart/quickview',
							type: 'get',
							success: function(data) {
								$('#cart_info').html(data);
							}
						});
					}
				};
				
				
				// toastr提示參數設置
				toastr.options = {
						  "closeButton": false,
						  "debug": false,
						  "newestOnTop": false,
						  "progressBar": false,
						  "positionClass": "toast-bottom-right",
						  "preventDuplicates": false,
						  "onclick": null,
						  "showDuration": "2500",
						  "hideDuration": "3000",
						  "timeOut": "1000",
						  "extendedTimeOut": "1000",
						  "showEasing": "swing",
						  "hideEasing": "linear",
						  "showMethod": "fadeIn",
						  "hideMethod": "fadeOut"
				}
				
				
				// 購物車內容Quickview事件繫結
				$(document).on('mouseenter', '.cart-icon', function() {
					getCartQuickview();
				});
				
				
				// 發送ajax請求(刪除Quickview購物車內容)
				$(document).on('click', '.cartQuickviewDelete', function() {
					$.ajax({
						url: this.href,
						type: 'delete',
						success: function() {
							toastr.success('已將商品自購物車刪除');
							getCartQuantity();
							getCartQuickview();
						}
					});
					return false;
				});
			})
		</script>
	</head>
	<body>	
		<!-- WRAPPER START -->
		<div class="wrapper bg-dark-white">

			<!-- COMMONHEADAREA INSERT START -->
			<th:block th:replace="/mall/mallCommon :: commonheadarea"></th:block>
			<!-- COMMONHEADAREA INSERT END -->
			
			<!-- COMMONMOBILEMENU INSERT START -->
			<th:block th:replace="/mall/mallCommon :: commonmobilemenu"></th:block>
			<!-- COMMONMOBILEMENU INSERT END -->
			
			<!-- ORDER-COMPLETE-AREA START -->
			<div class="order-complete-area  pt-80 pb-80">
				<div class="container">	
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="order-complete">
								<!-- Nav tabs -->
								<ul class="cart-page-menu row clearfix mb-30">
									<li class="active">
										<a href="javascript:void(0);" th:class="tab" data-toggle="tab">
											訂單完成
										</a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<!-- order-complete start -->
									<div class="tab-pane active" id="order-complete">
										<form action="#">
											<div class="thank-recieve bg-white mb-30">
												<p>[[${msg}]]</p>
											</div>
											<div class="order-info bg-white text-center clearfix mb-30">
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">訂單編號</h4>
													<p class="text-uppercase text-light-black mb-0 content"><strong>[[${orderDetail.orderNo}]]</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">訂購日期</h4>
													<p class="text-uppercase text-light-black mb-0 content"><strong>[[${#dates.format(orderDetail.orderedTimestamp, 'yyyy-MM-dd')}]]</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">金額</h4>
													<p class="text-uppercase text-light-black mb-0 content"><strong>$ [[${#numbers.formatDecimal(orderDetail.netPrice,1,'COMMA',0,'POINT')}]]</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">付款方式</h4>
													<p class="text-uppercase text-light-black mb-0 content" th:if="${orderDetail.paymentMethod.equals('cashOnDelivery')}"><strong>貨到付款</strong></p>
													<p class="text-uppercase text-light-black mb-0 content" th:if="${orderDetail.paymentMethod.equals('creditCard')}"><strong>信用卡付款</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">付款狀態</h4>
													<p class="text-uppercase text-light-black mb-0 content" th:if="${orderDetail.statusPayment.equals('unpaid')}"><strong>尚未付款</strong></p>
													<p class="text-uppercase text-light-black mb-0 content" th:if="${orderDetail.statusPayment.equals('paid')}"><strong>已付款</strong></p>
												</div>
											</div>
											<div class="shop-cart-table check-out-wrap">
												<div class="row">
													<div class="col-md-12 col-sm-12 col-sm-12">
														<div class="our-order payment-details pr-20 pl-20">
															<h4 class="title-1 title-border text-uppercase mb-30">訂單詳情</h4>
															<table>
																<thead>
																	<tr>
																		<th class="content"><strong>商品</strong></th>
																		<th class="text-right content"><strong>金額</strong></th>
																	</tr>
																</thead>
																<tbody>
																	<th:block th:each="orderItem : ${orderDetail.cartAndOrder}">
																		<tr>
																			<td class="content">
																				[[${orderItem.productItem.productName}]] x  [[${orderItem.shoppingAmount}]]
																			</td>
																			<td class="text-right content">
																				$ [[${#numbers.formatDecimal((orderItem.productItem.productPrice * orderItem.shoppingAmount),1,'COMMA',0,'POINT')}]]
																			</td>
																		</tr>
																	</th:block>
																	<tr>
																		<td class="content">商品金額小計</td>
																		<td class="text-right content">
																			$ [[${#numbers.formatDecimal(orderDetail.totalPrice,1,'COMMA',0,'POINT')}]]
																		</td>
																	</tr>
																	<tr>
																		<td class="content">運費</td>
																		<td class="text-right content">
																			$ [[${#numbers.formatDecimal(orderDetail.deliveryFee,1,'COMMA',0,'POINT')}]]
																		</td>
																	</tr>
																	<tr th:if="${orderDetail.discount != null}">
																		<td class="content">會員積分折抵金額</td>
																		<td class="text-right content">
																			$ [[${#numbers.formatDecimal(orderDetail.discount,1,'COMMA',0,'POINT')}]]
																		</td>
																	</tr>
																	<tr>
																		<td class="content">訂單總金額</td>
																		<td class="text-right content">
																			$ [[${#numbers.formatDecimal(orderDetail.netPrice,1,'COMMA',0,'POINT')}]]
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</form>										
									</div>
									<!-- order-complete end -->
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ORDER-COMPLETE-AREA END -->
			
			<!-- COMMONFOOTER INSERT START -->
			<th:block th:replace="/mall/mallCommon :: commmonfooter"></th:block>
			<!-- COMMONFOOTER INSERT END -->
			
		</div>
		<!-- WRAPPER END -->

		<!-- COMMONJS INSERT START -->
		<th:block th:replace="/mall/mallcommon :: commonjs"></th:block>
		<!-- COMMONJS INSERT END -->
	</body>
</html>
